/* ===============================================
    Config Initial
   =============================================== */
:root {
  /**
 * Primary colors
 *
 * 3 colors + white +black
 */

  --peid-red: #f15b5b;
  --peid-yellow: #fff800;
  --peid-sky: #25edf2;
  --peid-black: #062825;
  --peid-white: #ffffff;

  /**
  * Secondary colors
  *
  * extra colors
  */

  --peid-ligth-grey: #f2f2f2;
  --peid-green: #97cb45;
  --peid-blue: #59b9e6;
  --peid-dar-grey: #adadad;

  /**
  * Util Variables
  *
  * another values standar
  */
  --peid-padding-lateral: 7.2em;
  --peid-border-color-input: #c8c8c8;
  --peid-progress-color: #dadada;
}
/**
  * Breakpoints
  *
  * for media-queries
  */
$peid-small: 575.98px;
$peid-medium: 767.98px;
$peid-large: 991.98px;
/**
  * Fonts
  *
  * Montserrat: Regular, Bold, ExtraBold
  *.
  * Quicksand: Regular, Bold, Medium
  */
@font-face {
  font-family: 'MRegular';
  src: url('../fonts/Montserrat-Regular.ttf');
}
@font-face {
  font-family: 'MBold';
  src: url('../fonts/Montserrat-Bold.ttf');
}
@font-face {
  font-family: 'MSemiBold';
  src: url('../fonts/Montserrat-SemiBold.ttf');
}
@font-face {
  font-family: 'MExtraBold';
  src: url('../fonts/Montserrat-ExtraBold.ttf');
}
@font-face {
  font-family: 'QMedium';
  src: url('../fonts/Quicksand-Medium.ttf');
}
@font-face {
  font-family: 'QRegular';
  src: url('../fonts/Quicksand-Regular.ttf');
}
@font-face {
  font-family: 'QBold';
  src: url('../fonts/Quicksand-Bold.ttf');
}
@font-face {
  font-family: 'RBold';
  src: url('../fonts/Roboto-Bold.ttf');
}
@font-face {
  font-family: 'RMedium';
  src: url('../fonts/Roboto-Medium.ttf');
}
@font-face {
  font-family: 'RRegular';
  src: url('../fonts/Roboto-Regular.ttf');
}

/**
  * Set general styles
  */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-size: 18px;
}
/**
  * Text and paragraph styles
  */
.display-extrabold {
  font-family: 'MExtraBold', sans-serif;
  font-size: 3.11em;
  line-height: auto;
  @media (max-width: $peid-small) {
    font-size: 1.56em;
  }
}

h1 {
  font-family: 'MExtraBold', sans-serif;
  font-size: 2.9em;
  line-height: auto;
  @media (max-width: $peid-small) {
    font-size: 2.33em;
  }
}

h2 {
  font-family: 'MExtraBold', sans-serif;
  font-size: 2em;
  line-height: auto;
  @media (max-width: $peid-small) {
    font-size: 2.11;
  }
}

h3 {
  font-family: 'MExtraBold', sans-serif;
  font-size: 2.67em;
  @media (max-width: $peid-small) {
    font-size: 1.89em;
  }
}

h4 {
  font-family: 'MExtraBold', sans-serif;
  font-size: 1.33em;
}

.paragraph-bold {
  font-family: 'QBold', sans-serif;
  font-size: 1.45em;
  line-height: 1.67em;
  @media (max-width: $peid-small) {
    font-size: 1.33em;
  }
}

.paragraph-light {
  font-family: 'QRegular', sans-serif;
  font-size: 1em;
  line-height: 1.67em;
  @media (max-width: $peid-small) {
    font-size: 0.833em;
    line-height: 1.3em;
  }
}

.paragraph-bold-small {
  font-family: 'QBold', sans-serif;
  font-size: 1em;
  line-height: 1.67em;
  @media (max-width: $peid-small) {
    font-size: 0.78em;
  }
}

.subtitle-bold {
  font-family: 'QBold', sans-serif;
  font-size: 1.11em;
}

.title-form {
  font-family: 'QMedium', sans-serif;
  font-size: 1em;
  @media (max-width: $peid-small) {
    font-size: 0.8em;
  }
}

.small-text {
  font-family: 'QMedium', sans-serif;
  font-size: 0.78em;
}

.date-text {
  font-family: 'QBold', sans-serif;
  font-size: 0.56em;
  @media (max-width: $peid-small) {
    font-size: 0.3em;
  }
}

a {
  text-decoration: none;
}
/**
  * Utils
  */
.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.text-center {
  text-align: center;
}

/* Elements style */
.button {
  cursor: pointer;
  border: none;
  width: 11.6em;
  border-radius: 1.1em;
  font-family: 'QBold', sans-serif;
  font-size: 1.1em;
  padding-top: 0.97em;
  padding-bottom: 0.97em;
  @media (max-width: $peid-small) {
    font-size: 0.78em;
  }
  &:disabled {
    background-color: var(--peid-ligth-grey);
    color: var(--peid-dar-grey);
  }
}
.btn-primary {
  transition: all 0.5s ease-out;
  background-color: var(--peid-yellow);
  color: black;
  a,
  span,
  svg {
    color: black;
    fill: black;
  }

  &:disabled {
    background-color: var(--peid-ligth-grey);
    color: var(--peid-dar-grey);
    pointer-events: none;
    a,
    span,
    svg {
      color: var(--peid-dar-grey);
      fill: var(--peid-dar-grey);
    }
  }
  &:hover {
    transition: all 0.5s ease-out;
    background-color: black;
    color: var(--peid-yellow);
    a {
      color: var(--peid-yellow);
    }
    span {
      color: var(--peid-yellow);
    }
    svg {
      fill: var(--peid-yellow);
    }
  }
}
.btn-aux {
  transition: all 0.5s ease-out;
  background-color: var(--peid-red);

  &:hover {
    transition: all 0.5s ease-out;
    /*  border: 3px solid var(--peid-red); */
    background-color: white;
    a {
      color: var(--peid-red);
    }
  }
  a {
    color: white;
  }
}

.btn-secondary {
  border: 3px solid black;
}
input,
select {
  width: 100%;
  border-radius: 50px;
  outline: none;
  border: 2px solid var(--peid-border-color-input);
  padding: 0.72rem 1.17rem;
  margin: 0.5rem 0em;
  background-color: white;
  ::placeholder {
    color: var(--peid-border-color-input);
  }
}
select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  /**
   *  note: bg image below uses 2 urls. The first is an svg data uri for the arrow icon, and the second is the gradient.
   *  for the icon, if you want to change the color, be sure to use `%23` instead of `#`, since it's a url. You can also swap in a different svg icon or an external image reference
   */
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23C4C4C4%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat, repeat;
  /* arrow icon position (1em from the right, 50% vertical) , then gradient position*/
  background-position: right 1.5em top 50%, 0 0;
  /* icon size, then gradient */
  background-size: 0.95em auto, 100%;
}

select:required:invalid {
  color: gray;
}
option[value=''][disabled] {
  display: none;
}
option {
  color: black;
}
input[type='checkbox'] + label:before {
  border-radius: 0.2em;
  border: 0.3em solid #000;
}
[type='checkbox']:checked,
[type='checkbox']:not(:checked) {
  position: absolute;
  left: -9999px;
  color: var(--peid-red);
}
[type='checkbox']:checked + label,
[type='checkbox']:not(:checked) + label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
}
[type='checkbox']:checked + label:before,
[type='checkbox']:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border: 2px solid #000;
  background: #fff;
}
[type='checkbox']:checked + label:after,
[type='checkbox']:not(:checked) + label:after {
  content: '\2714';
  /*    background: #00a69c; */
  position: absolute;
  width: 1.5em;
  color: var(--peid-red);
  height: 1.5em;
  font-size: 2.5em;
  top: -4px;
  left: 0px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
[type='checkbox']:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}
[type='checkbox']:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
.meter {
  margin-top: 2.83em;
  margin-bottom: 1.38em;
  height: 5px; /* Can be anything */
  position: relative;
  background: var(--peid-progress-color);
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 10em;
  /* padding: 10px; */
  box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
  @media (max-width: $peid-small) {
  }
}
.meter > span {
  display: block;
  height: 100%;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: var(--peid-red);
  background-image: linear-gradient(
                  center bottom,
                  rgb(43, 194, 83) 37%,
                  rgb(84, 240, 84) 69%
  );

  position: absolute;
  overflow: hidden;
}

.meter-alert {
  margin-top: 0.83em;
  margin-bottom: 1.38em;
  height: 5px; /* Can be anything */
  position: relative;
  background: var(--peid-progress-color);
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 10em;
  /* padding: 10px; */
  box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
  @media (max-width: $peid-small) {
  }
}
.meter-alert > span {
  display: block;
  height: 100%;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: var(--peid-red);
  background-image: linear-gradient(
                  center bottom,
                  rgb(43, 194, 83) 37%,
                  rgb(84, 240, 84) 69%
  );

  position: absolute;
  overflow: hidden;
}
